/* LOGO */
.tamañoLogo{
  width: 50px;
  height: 40px;
}
/*Carrucel*/
.carousel {
  margin-bottom: 4rem;

}
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
  
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  filter: blur(1px);
  /*opacity: 0.4;*/

}

.marketing {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing {
  font-weight: normal;
}
.marketing {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* CARRUCEL RESPONSIVO */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;

  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.logo{
  font-size: 5vw;
}
.texto{
 font-size: calc(1rem + 1vw);
 background-color: rgba(0, 0, 0, 0.5);
}



/* GALERIA DE IMAGENES */

.tamañoImagen{
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  height: 220px;
  padding-bottom: 15px;
}

.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}


.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  color: black;
  font-weight: bold;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.tamañoGaleria{
   max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
  margin: auto; 
}

.ofertas{
  border: 1px solid #CCC;
  text-align: center;
  float: left;
}

.ofertas h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.ofertas p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


.col-12 h1{
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #CCC;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}



/*  VENTANA DE REGISTRO */



.ventanaRegistro{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0,0,0,0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.ventanaRegistro .content-ventanaRegistro{
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: #5DADE2;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999;
}

.ventanaRegistro{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
  font-weight: bold;
}

.ventanaRegistro{
  height: auto;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 35px;
  text-align: center;
}

.close-ventanaRegistro{
  color: #E74C3C;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.ventanaRegistro:target{
  opacity: 1;
  top: 0;
}


.ventanaRegistro:target .content-ventanaRegistro{
  top: 50px;
  transition: top 0.35s ease;
}

@media (max-width:  500px){
  .ventanaRegistro .content-ventanaRegistro{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
}


/* VENTANA DE INICIO DE SESION */


.ventanaSesion{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0,0,0,0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.ventanaSesion .content-ventanaSesion{
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: #5DADE2;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999;
}

.ventanaSesion{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
  font-weight: bold;
}

.ventanaSesion{
  height: auto;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 35px;
  text-align: center;
}

.close-ventanaSesion{
  color: #E74C3C;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.ventanaSesion:target{
  opacity: 1;
  top: 0;
}


.ventanaSesion:target .content-ventanaSesion{
  top: 50px;
  transition: top 0.35s ease;
}

@media (max-width:  500px){
  .ventanaSesion .content-ventanaSesion{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
}
/*boton flotante*/
.whats{
  border: 0px;
  background: transparent;
  width:10px;
  height:10px;
  padding:  0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  position: fixed;
  bottom: 200px;
}

/*imagenes circulares anuncio de servicios*/

.circulos{
  width: 200px;
  height: 200px;
}
/*texto tarjetas*/

.tarjetas{
  padding: 2px;

}

.articuloPortada{
  height: 250px;
  width: 100%;
}